<article class="mt3 cf ph2 ph5-ns pv1">
    <div class="overflow-auto">
      <table class="f6 w-100 mw8 left" cellspacing="0">
        <thead>
          <tr>
            <th class="fw6 bb b--black-20 tl pb1 bg-white">Sender</th>
            <th class="fw6 bb b--black-20 tl pb1 pr3 bg-white">Message</th>
            <th class="fw6 bb b--black-20 tl pb1 pr3 bg-white">Status</th>
          </tr>
        </thead>
        <tbody class="f7 copy">
          <% @messages.each do |message| %>
            <tr>
            <td class="pv3 pr3 bb b--black-20"> <%= message.booking.user.email %> <br> <%= message.created_at.strftime("%b %d") %></td>
            <td class="pv3 pr3 bb b--black-20">
              <strong><%= message.subject %></strong> <br>
              <%= message.content %> from
              <%= message.booking.checkin_date %> to
              <%= message.booking.checkout_date %>
            </td>

            <td class="pv3 pr3 bb b--black-20"> <%= message.booking.status.capitalize %> <br>
            <% if message.booking.status == "pending" %>
              <%= link_to "Confirm", confirm_booking_path(message.booking), method: :patch, class: "btn btn-success" %>
              <%= link_to "Decline", decline_booking_path(message.booking), method: :patch, class: "btn btn-danger" %>
            <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </article>
