<div class="cf ph2 ph5-ns pt3">
  <div class="fl w-30">
    <% @unread_messages = 0 %>
    <% Conversation.all.each do |conversation| %>
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.private_messages %>
          <% conversation.private_messages.each do |private_message| %>
            <% if private_message.user != current_user && private_message.read == false %>
              <% @unread_messages += 1 %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <h3 class="book-title f3 black lh-title fw9 mt0 pt0 pb2">Messages(<%= @unread_messages %>)</h3>
    <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
          <% @recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% @recipient = User.find(conversation.sender_id) %>
        <% end %>
        <% if conversation.id == @conversation.id %>
          <div class="bg-near-white bl bw2 b--green">
        <% else %>
          <div>
        <% end %>
            <blockquote class="f7 ml0 mt0 black-80 bl bw2">
              <% avatar_url = @recipient.facebook_picture_url || @recipient.google_picture_url || "http://i.pravatar.cc/150?img=17" %>
              <%= image_tag avatar_url, class: "br-100 w2 dib" %>
              <%#= link_to @recipient.email, conversation_path(conversation) %>
              <%= link_to @recipient.email, read_conversation_path(conversation), method: :patch %>
              <% @unread_conversation = 0 %>
              <% conversation.private_messages.each do |private_message| %>
                <% if private_message.user != current_user && private_message.read == false %>
                  <% @unread_conversation += 1 %>
                <% end %>
              <% end %>
              <p>Unread conversation: <%= @unread_conversation %></p>
            </blockquote>
          </div>
      <% end %>
    <% end %>
  </div>
  <div class="fl w-70">
    <%= render 'private_messages/index' %>
  </div>
</div>

