<div class="wrapper">
  <h4>Confirm Your Booking:</h4>
  <div class="confirmation-content">
    <div class="book-container">
      <h4><%= @booking.book.title %></h4>
      <p class="date">Pick up: <%= @booking.pick_up_date %></p>
      <p class="date">Return: <%= @booking.return_date %></p>
      <% if @booking.book.photo? %>
      <%= cl_image_tag @booking.book.photo.path, width: 200, height: 300, crop: :fill %>
      <% else %>
      <img src="https://unsplash.it/500/600?image=1083" alt="picture of book">
      <% end %>
    </div>
    <div class="row">
    <a class="payment btn btn-primary" href="#">Go to Payment</a>
    </div>
  </div>
  <p>You're not better, we're just not done..</p>
</div>





<!--
  <div class="row">
    <div class="buttons-content">
      <%= link_to 'Back', book_path(@booking.book), class: "back btn btn-primary"%>
      <a class="payment btn btn-primary" href="#">Payment</a>
       </div>
      </div> -->
