<div class="wrapper">
  <h4 class="confirm-text">
      Booking status: <%= @booking.status %>
  </h4>
  <div class="confirmation-content">
    <div class="text-container">
        <h4><%= @booking.book.title %></h4>
        <% if @booking.book.author != "" %>
          <h5>by <%= @booking.book.author %></h5>
        <% else %>
          <h5>-----</h5>
        <% end %>
        <p class="date">Pick up: <%= l(@booking.checkin_date, format: :custom) %></p>
        <p class="date">Return:  <%= l(@booking.checkout_date, format: :custom) %></p>
    </div>
    <div class="row left">
      <%= link_to 'Back', book_path(@booking.book), class: "btn btn-outline" %>
<!--       <a class="btn btn-outline" href="#">
        Go to Payment
      </a> -->
    </div>
    <div class="book-container right fn fl-ns w-50-ns">
      <% if @booking.book.photo? %>
        <%= cl_image_tag @booking.book.photo.path, width: 300, height: 450, crop: :fill, class: "fit" %>
      <% else %>
        <img src="https://unsplash.it/400/500?image=1083" alt="picture of book" class="fit">
      <% end %>
    </div>
  </div>
</div>
