<article class="cf ph2 ph5-ns pt3 mb2">
  <header class="fl w-100 w-50-ns pr4-ns">
    <h1 class="bb bw1 book-title f3 black lh-title fw9 mt0 pt1">
      Reservation Status:
      <span class="red"><%= @booking.status.capitalize %></span>
    </h1>
    <h1 class="mt1 f4 black lh-title fw9 mt0 pt1 mb0">
      <%= @booking.book.title %>
    </h1>
    <h2 class="author f10 mid-gray lh-title">
      <% if @booking.book.author != "" %>
        <%= @booking.book.author %>
      <% end %>
    </h2>
    <p class="mt3 f5 black lh-title">Pick up: <%= l(@booking.checkin_date, format: :custom) %></p>
    <p class="f5 black lh-title">Return: <%= l(@booking.checkout_date, format: :custom) %></p>
    <p class="w-100 mt2 "><%= link_to 'Back', book_path(@booking.book), class: "btn btn-outline" %> <%= link_to 'Profile', profile_path(@profile), class: "btn btn-outline" %>
  </header>

  <header class="fl w-100 w-50-ns tc">
    <% if @book.photo? %>
      <%= cl_image_tag @book.photo.path, height: 450, crop: :scale, class: "mt2 pa3 ba" %>
    <% end %>
  </header>
</article>
