<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "bcicon" do %>
  <%= image_tag "bcicon.png" %>
  <% end %>

  <!-- search tool -->
  <div class="search-tool">
    <%= form_tag(books_path, class: "form", method: :get) do %>
    <%= text_field_tag :term, params[:term], placeholder: 'Search title, author, publisher, genre', class: "submissionfield-term" %>
    <%= text_field_tag :location, params[:location], :id => 'geo-location', placeholder: 'Search location', class: "submissionfield-location" %>
    <%= submit_tag 'Search', name: nil, class: "search-button btn btn-outline" %>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
    <!-- Links when logged in -->
      <%= link_to "Lend a Book (+)", new_book_path, class: " navbar-wagon-item navbar-wagon-link" %>
    <!-- get unread_messages -->
    <% @unread_messages = 0 %>
    <% Conversation.all.each do |conversation| %>
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.private_messages %>
          <% conversation.private_messages.each do |private_message| %>
            <% if private_message.user != current_user && private_message.read == false %>
              <% @unread_messages += 1 %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item ">
        <div class="dropdown">
          <% if current_user.avatar.present? %>
            <%= cl_image_tag(current_user.avatar.path, { size: '50x50', crop: :thumb, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" }) %>
          <% else %>
            <% avatar_url = current_user.facebook_picture_url || current_user.google_picture_url || "https://api.adorable.io/avatars/129/pussy.png" %>
            <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <% if current_user %>
                <%= link_to profile_path(user_id: current_user.id), method: :get do %>
                  <%= t(".sign_in", default: "Profile") %>
                <% end %>
              <% end %>
            </li>
            <li>
            <% Conversation.all.each do |conversation| %>
              <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
                <% @conversation_last = conversation %>
              <% end %>
            <% end %>
            <% if @conversation_last %>
              <%= link_to conversation_path(@conversation_last), method: :get do  %>
                <%= t(".sign_in", default: "Messages(#{@unread_messages})") %>
              <% end %>
            <% end %>
           </li>
           <li class="log-out-break"></li>
           <li>
             <%= link_to destroy_user_session_path, method: :delete do %>
              <%= t(".sign_out", default: "Log Out") %>
             <% end %>
           </li>
         </ul>
       </div>
     </div>
    <% else %>
   <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Log In / Sign Up"), "#", 'data-toggle' => 'modal', 'data-target' => '#signupModal'%>
    <% end %>
 </div>

 <!-- Dropdown list appearing on mobile only -->
   <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
        <% if user_signed_in? %>
          <%= link_to "Add Book to Libraries", new_book_path %>
        </li>
        <li>
        <% if current_user %>
          <%= link_to profile_path(user_id: current_user.id), method: :get do %>
            <%= t(".sign_in", default: "Profile") %>
          <% end %>
        <% end %>
        </li>
        <li>
          <% Conversation.all.each do |conversation| %>
            <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
              <% @conversation_last = conversation %>
            <% end %>
          <% end %>
          <% if @conversation_last %>
            <%= link_to conversation_path(@conversation_last), method: :get do  %>
              <%= t(".sign_in", default: "Messages(#{@unread_messages})") %>
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <%= t(".sign_out", default: "Log Out") %>
          <% end %>
        </li>
        <% else %>
          <%= link_to t(".sign_in", default: "Log In / Sign Up"), "#", 'data-toggle' => 'modal', 'data-target' => '#signupModal' %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

