<div class="wrapper">
  <article class="pt3 f4 pb1 dt w-100 bb b--black-70">
    <% if @library.user == current_user %>
      <div class="left black">
        <%= @library.name %> (<%= link_to "edit", edit_library_path(@library)%>)
      </div>
      <div class="right">
        <%= link_to "Add Book +", new_book_path %>
      </div>
      <% else %>
      <div class="left black">
        <%= @library.name %>
      </div>
      <div class="right">
        Number of Books (<%= @library.books.count %>)
      </div>
    <% end %>
  </article>

  <section class="cf w-100 pa2-ns">
    <% @library.books.each do |book| %>
      <article class="p2 fl w-100 w-50-m w-25-ns pa2-ns tc">
        <div class="center">
          <% if book.photo? %>
            <%= cl_image_tag book.photo.path, height: 300, crop: :fill, class: "mb1" %>
          <% end %>
        </div>
          <%= link_to book.title.truncate(53), book_path(book), class: "db link black hover-grey" %>
      </article>
    <% end %>
  </section>
</div>
<article class="cf ph1 ph5-ns pv1">
  <div class="dt w-100 bt b--black-100 pt1 mt1 dt dt--fixed">
    <div class="fw6 dtc tl">Curated by:
      <p class="f7 copy mid-gray"><%= link_to @library.user.email, profile_path(@profile), class:"f7 copy mid-gray"%></p>
    </div>
    <div class="fw6 dtc tl">Located in:
      <p class="f7 copy mid-gray">
        <% if @library.city %>
          <%=@library.city.capitalize%>
        <% end %>
      </p>
    </div>
  </div>
</article>
