<% if @over_ten %>
  <%= link_to 'Show Previous Messages', '?m=all' %>
<% end %>

<% if @private_messages %>
  <div class="fl">
    <% @private_messages.each do |private_message| %>
      <% if private_message.body %>
        <% user = User.find(private_message.user_id) %>
          <div class="bl message">
            <% avatar_url = user.facebook_picture_url || user.google_picture_url || "http://i.pravatar.cc/150?img=17" %>
            <%= image_tag avatar_url, class: "br-100 w2 dib mr1" %>
            <div class="message-name mr2">
            <% if user.first_name? %>
              <p><%= user.first_name %></p>
            <% else %>
              <p><%=user.email%></p>
            <% end %>
            <p class="message-time"><%= private_message.private_message_time %></p>
          </div>
          <div class="message-body">
            <p><%= private_message.body %></p>
          </div>
          <% if private_message.booking %>
              <% if private_message.booking.status == "pending" && private_message.booking.book.library.user == current_user %>
                <%= link_to "Confirm", confirm_booking_path(private_message.booking), method: :patch, class: "mr1 btn btn-outline" %>
                <%= link_to "Decline", decline_booking_path(private_message.booking), method: :patch, class: "btn btn-outline" %>
              <% end %>
          <% end %>
        <% end %>
        </div>
      <% end %>
    <% end %>


<% if @conversation %>
  <%= form_for [@conversation, @private_message], html: {class: "ml2 w-70 black-80"} do |f| %>
    <label for="password" class="mt2 f8 b tl db mb1">Write your message:</label>
    <%= f.text_area :body, class: "mb1 form-control" %>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden", class:"input-reset ba b--black-20 pa2 mb1 db w-100" %>
    <div>
      <%= f.submit "Send Message", class: "center ui blue labeled submit icon button btn-outline" %>
    </div>
  <% end %>
<% end %>
