<% begin conversation = Conversation.find_by!(sender_id: booking.user.id) %>
<% rescue %>
  <% conversation = Conversation.find_by!(sender_id: booking.book.library.user.id) %>
<% end %>

<% if conversation %>
  <div class="pt2 message">
    <% book_url = booking.book.photo || "https://upload.wikimedia.org/wikipedia/commons/9/90/Also_sprach_Zarathustra.GIF" %>
    <%= cl_image_tag book_url.path, height: 200, width: 130, crop: :fill %>
    <div class="message-body">
      <% if booking.user == current_user %>
        <p><strong>Your reservation for <%= booking.book.title.truncate(30) %> from <%= booking.checkin_date %> to <%= booking.checkout_date %></strong></p>

        <% last_message = booking.private_messages.where(user: booking.book.library.user).last %>
        <% if last_message %>
          <p><%= last_message.body %></p>
        <% end %>

        <p class="mute muted-title"><%= link_to "See the full conversation with #{booking.book.library.user.username}", conversation_path(conversation) %></p>

      <% elsif booking.book.library.user == current_user %>
        <% if booking.user.avatar.present? %>
          <%= cl_image_tag(booking.user.avatar.path, { size: '50x50', crop: :thumb, class: "br-100 w2 dib absolute" }) %>
          <p class="mute shift">
            <strong><%= booking.user.username %></strong> wants to borrow <strong><%= booking.book.title.truncate(30) %></strong>
          </p>
          <p class="mute shift">
            From: <strong><%= booking.checkin_date %></strong> to: <strong><%= booking.checkout_date %></strong>
          </p>
        <% else %>
          <% avatar_url = booking.user.facebook_picture_url || booking.user.google_picture_url || "https://api.adorable.io/avatars/129/pussy.png" %>
          <%= image_tag avatar_url, class: "br-100 w2 dib absolute" %>
          <p class="mute shift">
            <strong><%= booking.user.username %></strong> wants to borrow <strong><%= booking.book.title.truncate(30) %></strong>
          </p>
          <p class="mute shift">
            From: <strong><%= booking.checkin_date %></strong> to: <strong><%= booking.checkout_date %></strong>
          </p>
        <% end %>
        <p class="mute shift">
          <% last_message = booking.private_messages.where(user: booking.user).last %>
        </p>
        <% if last_message %>
          <p class="shift"><%= last_message.body %></p>
        <% end %>

        <p class="mute muted-title shift pt1">
          <%= link_to "See the full conversation with #{booking.user.username}", conversation_path(conversation) %>
        </p>
      <% end %>
    </div>
    <div class="message-status mb1">
      <p class="status <%= booking.status %>"><%= booking.status.capitalize %></p>
      <% if booking.status == "pending" && booking.book.library.user == current_user %>
        <p class="white">
          ygufewgkurwfgreugewk
        </p>
        <p class="price">
          <%= link_to "Confirm", confirm_booking_path(booking), method: :patch, class: "btn btn-outline" %>
          <%= link_to "Decline", decline_booking_path(booking), method: :patch, class: "btn btn-outline" %>
        </p>
      <% end %>
      <% if booking.status == "accepted" && booking.user == current_user %>
        <!-- Button trigger modal -->
        <% reviews_count = 0 %>
        <a class="add tc ph1 pv1 db bg-animate ba" data-toggle="modal" data-target="#<%= booking.id %>">
          Add Review
        </a>
      <% end %>
    </div>
  </div>
<% end %>

<!-- Add Review Modal -->
<div class="modal" id="<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="f3 f3-ns fw6 lh-title black mv0" id="exampleModalLabel"><%= booking.book.title %></h1>
        <button type="btn-outline" class="top close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @review do |f| %>
        <div class="modal-body">
          <%= f.error_notification %>
          <%= f.hidden_field :booking_id, value: booking.id %>
          <%= f.input :content %>
          <%= f.input :stars, input_html: { class: "rating" } %>
        </div>
        <div class="modal-footer">
          <%= f.button :submit, class: "left btn-outline" %>
        </div>
      <% end %>
      <%= content_for(:after_js) do %>
        <script>
          $('#review_stars').rating({'size':'xs'});
        </script>
      <% end %>
    </div>
  </div>
</div>
