<% conversation = Conversation.find_by(sender_id: booking.user.id) %>

<div class="message">
  <%# avatar_url = booking.user.facebook_picture_url || booking.user.google_picture_url || "http://i.pravatar.cc/150?img=17" %>
  <%#= image_tag avatar_url, class: "br-100 w2 dib" %>
  <% book_url = booking.book.photo || "https://upload.wikimedia.org/wikipedia/commons/9/90/Also_sprach_Zarathustra.GIF" %>
  <%= cl_image_tag book_url.path, height: 100, crop: :fill %>
<!--   <div class="message-name">
    <h3><%#= booking.user.email %></h3>
    <p><%#= booking.created_at %></p>
  </div> -->
  <div class="message-body">
    <% if booking.user == current_user %>
      <p><strong>Your Reservation for <%= booking.book.title %> from <%= booking.checkin_date %> to <%= booking.checkout_date %></strong></p>

      <% last_message = booking.private_messages.where(user: booking.book.library.user).last %>
      <% if last_message %>
        <p><%= last_message.body %></p>
      <% end %>

      <p class="black"><%= link_to "See the full conversation with #{booking.book.library.user.username}", conversation_path(conversation) %></p>

    <% elsif booking.book.library.user == current_user %>
      <% avatar_url = booking.user.facebook_picture_url || booking.user.google_picture_url || "https://api.adorable.io/avatars/129/pussy.png" %>
      <p class="black"><%= image_tag avatar_url, class: "br-100 w1 dib" %> <%= "#{booking.user.username} wants to borrow #{booking.book.title.truncate(55)} from #{booking.checkin_date} to #{booking.checkout_date}" %></p>

      <% last_message = booking.private_messages.where(user: booking.user).last %>
      <% if last_message %>
        <p><%= last_message.body %></p>
      <% end %>

      <p class="black"><%= link_to "See the full conversation with #{booking.user.username}", conversation_path(conversation) %></p>
    <% end %>
  </div>
  <div class="message-status">
    <p class="status <%= booking.status %>"><%= booking.status.capitalize %></p>
    <% if booking.status == "pending" && booking.book.library.user == current_user %>
      <p class="white">
        ygufewgkurwfgreugewk
      </p>
      <p class="price">
        <%= link_to "Confirm", confirm_booking_path(booking), method: :patch, class: "btn btn-outline" %>
        <%= link_to "Decline", decline_booking_path(booking), method: :patch, class: "btn btn-outline" %>
      </p>
    <% end %>
  </div>
</div>
