<div class="banner" style="background-image: url('http://i.imgur.com/LFhevjB.jpg');">
  <div class="banner-content">
    <div class="clearfix">
      <h2 class="pl4 banner-copy">Discover</h2>
      <h2 class="pl4 banner-copy">Borrow</h2>
      <h2 class="pl4 banner-copy">Inspire</h2>
      <h2 class="pl4 banner-copy-yellow">Join.</h2>
      <p class="pl4 banner-tagline">Find books on the web by browsing your neighbor's library.</p>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="flex wrap">
    <div class="col-6">
      <h2>Featured Books</h2>
    </div>
    <div class="col-6">
      <h2 class="view-all"><%= link_to "View all", books_path %></h2>
    </div>
  </div>

  <div class="cards row clearfix">
      <article>
      <% Book.first(6).each do |book| %>
      <div class="card sm-col sm-col-6">
        <%= link_to book_path(book), class: "link dt w-100 bt b--black-200 pt2 mt1 dim black" do %>
          <div class="dtc w3">
            <img src="http://www.sternberg-press.com/files/book/540/Kiesler_cover_364.jpg" class="db w-100"/>
          </div>
          <div class="dtc v-top pl2">
            <h1 class="f6 f5-ns fw6 lh-title black mv0"><%= book.title %></h1>
            <h2 class="align f7 fw4 mt2 mb0 black-60"><%= book.author %></h2>
            <h2 class="align f7 fw4 mt2 mb0 black-60"><%= book.genre %></h2>
            <dl class="mt2 f7">
              <dt class="clip">Rating</dt>
              <dd class="ml0">4.5 Stars</dd>
            </dl>
          </div>
        <% end %>
      </div>
      <% end %>
      </article>
  </div>

  <div class="flex wrap">
    <div class="col-6">
      <h2>Featured Libraries</h2>
    </div>
    <div class="col-6">
      <h2 class="view-all"><%= link_to "View all", libraries_path %></h2>
    </div>
  </div>

  <div class="cards row clearfix">
    <% Library.first(6).each do |library| %>
      <div class="card sm-col sm-col-4">
        <img class="fit" src="http://www.totemspropaganda.com/wp-content/uploads/2011/11/IMG_2920_small.jpg" />
        <p><%= link_to library.name, library_path(library) %></p>
        <p>Curated by: <%= library.user.email %></p>
      </div>
    <% end %>
  </div>
</div>


