<div class="banner" style="background-image: url('http://i.imgur.com/AOfIxr8.jpg');">
  <div class="banner-content">
    <div class="clearfix">
      <h2 class="pl4 banner-copy">Find.</h2>
      <h2 class="pl4 banner-copy">Share.</h2>
      <h2 class="pl4 banner-copy">Inspire.</h2>
      <h2 class="pl4 banner-copy-yellow">Join.</h2>
      <p class="pl4 banner-tagline">Find books on the web by browsing your neighbor's library.</p>
    </div>
  </div>
</div>

<div class="row clearfix border">
    <div class="sm-col sm-col-4 border">
      <img class="fit" src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder.svg" />
    </div>
    <div class="sm-col sm-col-4 border">
      <img class="fit" src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder.svg" />
    </div>
    <div class="sm-col sm-col-4 border">
      <img class="fit" src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder.svg" />
    </div>
</div>



<%= link_to "index books", books_path %>

<% Book.all.each do |book| %>
  <p><%= link_to book.title, book_path(book) %></p>
  <p><%= book.author %></p>
  <p><%= book.genre %></p>
  <p><%= book.publisher %></p>
<% end %>

<h3>Libraries:</h3>

<% Library.all.each do |library| %>
  <p><%= link_to library.name, library_path(library) %></p>
  <p><%= library.user.email %></p>
<% end %>
