<div class="banner" style="background-image: url('http://i.imgur.com/vohnVNY.jpg');">
  <div class="banner-content">
    <div class="clearfix">
      <h2 class="pl4 banner-copy">Discover</h2>
      <h2 class="pl4 banner-copy">Borrow</h2>
      <h2 class="pl4 banner-copy">Inspire</h2>
      <h2 class="pl4 banner-copy-yellow">Join.</h2>
      <p class="pl4 banner-tagline">Find books on the web by browsing your neighbor's library.</p>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="flex wrap">
    <div class="col-6">
      <h2>Featured Books</h2>
    </div>
    <div class="col-6">
      <h2 class="view-all"><%= link_to "View all", books_path %></h2>
    </div>
  </div>

  <div class="cards row clearfix">
      <% Book.last(4).each do |book| %>
        <div class="card col sm-col-6">
          <%= link_to book_path(book), class: "link dt w-100 bt b--black-100 pt2 mt1 dim black" do %>
            <div class="featured-card dtc w3">
              <% if book.photo? %>
                <%= cl_image_tag book.photo.path, crop: :fit %>
              <% else %>
                <%= cl_image_tag "https://upload.wikimedia.org/wikipedia/commons/9/90/Also_sprach_Zarathustra.GIF", crop: :fit %>
              <% end %>
            </div>
            <div class="dtc v-top pl3">
              <h1 class="f6 f5-ns fw6 lh-title black mv0"><%= book.title %></h1>
              <h2 class="align f7 fw4 mt2 mb0 black-60"><%= book.author %></h2>
              <h2 class="align f7 fw4 mt2 mb0 black-60"><%= book.publisher %></h2>
              <h2 class="align f7 fw4 mt2 mb0 black-60"><%= book.genre %></h2>
              <dl class="mt3 f7">
                <dt class="clip">Rating</dt>
                <dd class="ml0">
                  <% if book.rating == 0 %>
                    <%= 'No Reviews' %>
                  <% else %>
                    Rating: <%= book.rating %> / 5.0
                  <% end %>
                </dd>
              </dl>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>

  <div class="flex wrap">
    <div class="col-6">
      <h2>Featured Libraries</h2>
    </div>
  </div>

  <div class="cards row clearfix">
    <% library_length = Library.all.length %>
    <% if Library.all.length >= 6 %>
      <% library_length = 6 %>
    <% end %>
    <% Library.last(library_length).each do |library| %>
      <div class="card sm-col sm-col-4">
        <article class="box left mw5 mw6-ns ba mv1">
          <h2 class="f4 bg-white black mv0 pv2 ph3"><%= link_to library.name.truncate(25), library_path(library) %></h2>
          <div class="pa3 bt">
            <div id="<%= library.id %>" class="carousel slide" data-ride="carousel" >
              <ol class="carousel-indicators">
<!--                 <li data-target="<%= library.id %>" data-slide-to="0" class="active"></li>
 --><!--            <li data-target="<%= library.id %>" data-slide-to="1"></li>
                <li data-target="<%= library.id %>" data-slide-to="2"></li> -->
                <% i = 1 %>
                <% library.books.each do |book| %>
                  <li data-target="<%= library.id %>" data-slide-to="<%= i %>"></li>
                  <% i += 1 %>
                <% end %>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <% if library.books.count > 0 %>
                    <% if library.books.first.photo? %>
                      <%= cl_image_tag library.books.first.photo.path, width: 200, height: 300, crop: :scale %>
                    <% else %>
                      <%= cl_image_tag "https://upload.wikimedia.org/wikipedia/commons/9/90/Also_sprach_Zarathustra.GIF", width: 200, height: 300, crop: :scale %>
                    <% end %>
                  <% else %>
                    <%= cl_image_tag "https://upload.wikimedia.org/wikipedia/commons/9/90/Also_sprach_Zarathustra.GIF", width: 200, height: 300, crop: :scale %>
                  <% end %>
                </div>

<!--            <div class="item">
                  <img class="fit" src="http://www.totemspropaganda.com/wp-content/uploads/2011/11/IMG_2920_small.jpg" />
                </div>

                <div class="item">
                  <img class="fit" src="http://www.totemspropaganda.com/wp-content/uploads/2011/11/IMG_2920_small.jpg" />
                </div> -->
                <% library.books.each do |book| %>
                  <div class="item">
                    <% if book.photo? %>
                      <%= cl_image_tag book.photo.path, width: 200, height: 300, crop: :scale %>
                    <% else %>
                      <%= cl_image_tag "https://upload.wikimedia.org/wikipedia/commons/9/90/Also_sprach_Zarathustra.GIF", width: 200, height: 300, crop: :scale %>
                    <% end %>
                  </div>
                <% end %>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#<%= library.id %>" data-slide="prev mr2">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#<%= library.id %>" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
              <!-- end carousel -->
            </div>
            <p class="f6 b f5-ns lh-copy measure mv0">Curated by:</p>
            <p class="black-70"><%= library.user.email.truncate(30) %></p>
          </div>
        </article>
      </div>
    <%end%>
  </div>
</div>
