<h1>Profile page: <%= current_user.email %></h1>

<h3>My bookings:</h3>

<% @user.bookings.each do |booking| %>
  <h2><%= link_to booking.book.title, book_booking_path(booking.book, booking) %></h2>
  <p><%= booking.pick_up_date %></p>
  <p><%= booking.return_date %></p>
  <p> ----- </p>
  <p><%= link_to "Add review", new_book_booking_review_path(booking.book, booking) %></p>
  <p> ----- </p>
<% end %>

<h3>My libraries:</h3>

<% @user.libraries.each do |library| %>
  <h2><%= link_to library.name, library_path(library) %></h2>
  <p><%= link_to "Edit", edit_library_path(library) %></p>
  <% library.books.each do |book| %>
    <p><%= link_to book.title, book_path(book) %><%= link_to "Edit", edit_book_path(book) %></p>
  <% end %>
<% end %>

