<div class="wrapper">
  <div class="bookings clearfix">
    <h2>My Bookings:</h2>
    <% @user.bookings.each do |booking| %>
      <article class="ba b--black-100 mt2 mb2 mr3 ml3 p1 fl w-100 w-50-m w-25-ns pa2-ns sm-col sm-col-2">
        <div class="aspect-ratio aspect-ratio--3x4">
         <% if booking.book.photo? %>
            <%= cl_image_tag booking.book.photo.path, crop: :fill, class: "fit" %>
          <% end %>
        </div>
        <div class="pa1 mt2 bt b--black-100">
          <a class="author db link black hover-grey" href="#">
            <%= link_to booking.book.title.truncate(14), book_booking_path(booking.book, booking) %>
          </a>
          <p class="date red mb1">Return: <%= booking.return_date %></p>
            <!-- Button trigger modal -->
          <a class="add tc ph1 pv1 db bg-animate ba" data-toggle="modal" data-target="#<%= booking.id %>">
            Add Review
          </a>

          <!-- Modal -->
          <div class="modal" id="<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="f3 f3-ns fw6 lh-title black mv0" id="exampleModalLabel"><%= booking.book.title %></h1>
                  <button type="btn-outline" class="top close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <%= simple_form_for @review do |f| %>
                  <div class="modal-body">
                    <%= f.error_notification %>
                    <%= f.hidden_field :booking_id, value: booking.id %>
                    <%= f.input :content %>
                    <%= f.input :stars %>
                  </div>
                  <div class="modal-footer">
                    <%= f.button :submit, class: "left btn-outline" %>
                  </div>
                <% end %>
                <%= content_for(:after_js) do %>
                  <script>
                    $('#review_stars').rating({'size':'xs'});
                  </script>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </article>
    <% end %>
  </div>
  <div class="mt3 mb3 dt w-100 bt b--black-100"></div>
  <h2>My Libraries:</h2>
  <div class="cards row clearfix">
    <% @user.libraries.each do |library| %>
      <div class="card sm-col sm-col-4">
        <article class="box left mw5 mw6-ns ba mv1">
          <h2 class="f4 bg-white black mv0 pv2 ph3"><%= link_to library.name.truncate(20), library_path(library) %></h2>
          <div class="pa3 bt">
            <img class="fit" src="http://www.totemspropaganda.com/wp-content/uploads/2011/11/IMG_2920_small.jpg" />
            <p class="f6 b f5-ns lh-copy measure mv0">Books in this library: <%=library.books.count.to_s%></p>
          </div>
        </article>
      </div>
    <%end%>
  </div>
</div>

<!-- ##################################################### -->
