<div class="wrapper cf" id="dashboard">
  <% if @user == current_user %>
    <h2 style="font-size: 22px;">
      Welcome to your dashboard
      <% if @user.first_name? %>
        <span class="book-title black lh-title fw3 mt0 pt1"><%=@user.first_name%>
      <% else %>
        <span class="book-title black lh-title fw3 mt0 pt1"><%= @user.username %>
      <% end %>
      <a class="edit-button" data-target="#editModal" data-toggle="modal">(edit profile)</a>
    </h2>
  <% else %>
    <h2 style="font-size: 22px;">
      <% if @user.first_name? %>
        <span class="book-title black lh-title fw3 mt0 pt1"><%=@user.first_name%>
      <% else %>
        <span class="book-title black lh-title fw3 mt0 pt1"><%= @user.username %>
      <% end %>
      's dashboard
    </h2>
  <% end %>

  <div class="dashboard-nav">
    <% if @user == current_user %>
      <a class="tab" href="#" data-target="#libraries">Your Libraries (<%= @user.libraries.count %>)</a>
      /
      <a class="tab" href="#" data-target="#bookings">Conversations</a>
    <% else %>
      <a class="tab" href="#" data-target="#libraries">Libraries (<%= @user.libraries.count %>)</a>
    <% end %>
  </div>

  <!-- Bookings -->
  <% if @user == current_user %>
    <div class="tab-content" id="bookings">
      <div class="bookings-nav">
        <a class="bookings-tab" href="#" data-target="#books-bookings">Your books</a>
        /
        <a class="bookings-tab" href="#" data-target="#reservations-bookings">Your reservations</a>
      </div>

      <div class="bookings-tab-content" id="books-bookings">
        <h2>People who want to borrow your books</h2>
        <% @user.libraries.each do |libarry| %>
          <% libarry.books.each do |book| %>
            <% book.bookings.each do |booking| %>
              <%= render :partial => 'pages/messages', :locals => {:booking => booking} %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="bookings-tab-content hidden" id="reservations-bookings">
        <h2>Your reservations</h2>
        <% @user.bookings.each do |booking| %>
          <%= render :partial => 'pages/messages', :locals => {:booking => booking} %>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- My Libraries -->

  <div class="tab-content hidden bookings clearfix" id="libraries">
    <div class="ml1 w-100 fl">
      <%= link_to "New Library (+)", new_library_path%>
    </div>
    <% @user.libraries.each do |library| %>
      <div class="lib-card mt2 mb1 mr1 ml1 card sm-col sm-col-4">
        <article class="box fl mw5 mw6-ns ba mv1">
          <h2 class="f4 bg-white black mv0 pv2 ph3"><%= link_to library.name.truncate(20), library_path(library) %></h2>
          <div class="pa3 bt">
            <div id="<%= library.id %>" class="carousel slide pr3 pl3 tc w-100" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="<%= library.id %>" data-slide-to="0" class="active"></li>
                <li data-target="<%= library.id %>" data-slide-to="1"></li>
                <li data-target="<%= library.id %>" data-slide-to="2"></li>
                <% i = 1 %>
                <% library.books.each do |book| %>
                  <li data-target="<%= library.id %>" data-slide-to="<%= i %>"></li>
                  <% i += 1 %>
                <% end %>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner w-100">
                <div class="item active">
                  <% if library.books.count > 0 %>
                    <% if library.books.first.photo? %>
                      <%= cl_image_tag library.books.first.photo.path, width: 200, height: 300, crop: :scale, class: "pr2 pl2"%>
                    <% else %>
                      <%= cl_image_tag "https://upload.wikimedia.org/wikipedia/commons/9/90/Also_sprach_Zarathustra.GIF", width: 200, height: 300, crop: :scale, class: "pr2 pl2" %>
                    <% end %>
                  <% else %>
                    <%= cl_image_tag "https://upload.wikimedia.org/wikipedia/commons/9/90/Also_sprach_Zarathustra.GIF", width: 200, height: 300, crop: :scale, class: "pr2 pl2" %>
                  <% end %>
                </div>
                <% library.books.each do |book| %>
                  <div class="item">
                    <% if book.photo? %>
                      <%= cl_image_tag book.photo.path, width: 200, height: 300, crop: :scale, class: "pr2 pl2" %>
                    <% else %>
                      <%= cl_image_tag "https://upload.wikimedia.org/wikipedia/commons/9/90/Also_sprach_Zarathustra.GIF", width: 200, height: 300, crop: :scale, class: "pr2 pl2" %>
                    <% end %>
                  </div>
                <% end %>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#<%= library.id %>" data-slide="prev">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#<%= library.id %>" data-slide="next">
                <span class="glyphicon glyphicon-menu-right"></span>
                <span class="sr-only">Next</span>
              </a>
              <!-- end carousel -->
            </div>
            <p class="mt2 f6 b f5-ns lh-copy measure mv0">Books in this library: <%=library.books.count.to_s%></p>
          </div>
        </article>
      </div>
    <%end%>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $(".tab").on("click", function(e){
        // Change active tab
        $('.tab').removeClass('active');
        $(this).addClass('active');
        // Hide all tab-content (use class="hidden")
        $(".tab-content").addClass("hidden");
        // Show target tab-content (use class="hidden")
        tabTarget = $(this).data("target");
        $(tabTarget).removeClass("hidden");
      });
      $("#dashboard").on("click", ".bookings-tab", function(e){
        console.log("test");
        // Change active tab
        $('.bookings-tab').removeClass('active');
        $(this).addClass('active');
        // Hide all tab-content (use class="hidden")
        $(".bookings-tab-content").addClass("hidden");
        // Show target tab-content (use class="hidden")
        tabTarget = $(this).data("target");
        $(tabTarget).removeClass("hidden");
      });
    });
  </script>
<% end %>
