<div id="map"></div>
<div class="wrapper">
  <div style="display: flex; margin-top: 5px; align-items: center; justify-content: space-between;">
    <h2>Search results for: "<%= params[:term] %>"</h2>
    <h2>
      <%= form_tag(books_path, id: "cusSelectbox", method: :get) do %>
        <%= hidden_field_tag :term, params[:term], placeholder: 'ISBN, Title, Author, Language, Curated In, Curated By..', class: "field" %>
        <%= hidden_field_tag :location, params[:location], placeholder: 'Location here..', class: "field" %>
        <%#= select_tag :order, options_for_select(["ascending", "descending"], params[:order]), onchange: "this.form.submit();", class: "field" %>
        <%= select_tag :sort_by, options_for_select(["sort by", "title", "author", "published language", "rating", "reviews", "curated in", "curated by"], params[:sort_by]), onchange: "this.form.submit();", class: "field" %>
      <% end %>
    </h2>
  </div>
<!-- books -->
    <!-- <h2>Search Results in Books For: "<%= @search %>"</h2> -->
    <!-- <h2> -->
      <%#= form_tag(books_path, id: "cusSelectbox", method: :get) do %>
        <%#= hidden_field_tag :term, params[:term], placeholder: 'Search here..', class: "field" %>
        <%#= hidden_field_tag :location, params[:location], placeholder: 'Location here..', class: "field" %>
        <%#= select_tag :sort_by, options_for_select(["all", "title", "author", "genre", "publisher", "library", "rating"], params[:sort_by]), onchange: "this.form.submit();", class: "field" %>
      <%# end %>
    <!-- </h2> -->
  <div class="mt1 overflow-scroll row clearfix">
    <hr class="bb black">
    <% for book in @books %>

      <div class="book-card">
        <% if book.photo %>
          <div class="book-image" style="background-image: url(<%= cl_image_path book.photo.path %>)"></div>
        <% else %>
          <div class="book-image" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/90/Also_sprach_Zarathustra.GIF)"></div>
        <% end %>
        <div class="book-infos">
          <div class="title">
            <h2 class="f6 f6-ns black mv0 mb0"><%= link_to book.title.truncate(52), book_path(book), class:"fw5" %></h2>
            <h3 class="align f7 mt1 mb0 black-50">
            <% if book.author != "" %>
              <%= book.author %>
            <% else %>
              <p style="color: white"> author </p>
            <% end %>
            </h3>
          </div>
          <div class="meta">
            <p class="muted">
              <span class="muted">Published language —</span> <span class="muted"><%= book.published_language.capitalize %>
              </span>
            </p>
            <p class="muted">Curated in —
              <%= link_to book.library.name, library_path(book.library)%>
            </p>
            <p class="muted">
              <span class="">Curated by —
                <%= link_to book.library.user.email, profile_path(user_id: book.library.user_id) %> in <strong><%= book.library.city %></strong>
              </span>
            </p>
          </div>
          <div class="rating">
            <p>
              <% if book.rating == 0 %>
                Rating — <%= 'None' %>
              <% else %>
                Rating — <strong><%= book.rating %></strong>/5
              <% end %>
            </p>
            <p>
              <span class="black-50"><%= book.reviews_count %> reviews</span>
            </p>
          </div>
        </div>
      </div>

<!--
      <div class="card col sm-col-12 dt w-100 bt b--black-100 pt2">
        <%= link_to book_path(book), class: "link mt1 dim black" do %>
        <div class="featured-card dtc w3">
          <% if book.photo? %>
            <%= cl_image_tag book.photo.path, height: 200, crop: :fill %>
          <% else %>
            <%= cl_image_tag "https://upload.wikimedia.org/wikipedia/commons/9/90/Also_sprach_Zarathustra.GIF", height: 200, crop: :fill %>
          <% end %>
        <% end %>
        </div>
        <div class="dtc v-top pl3">
          <h1 class="f6 f6-ns black mv0 mb0"><%= link_to book.title.truncate(60), book_path(book), class:"fw5" %></h1>
          <h2 class="align f7 fw3 mt1 mb0 black-50">
          <% if book.author != "" %>
            <%= book.author %>
          <% else %>
            <p style="color: white"> author </p>
          <% end %>
          </h2>
          <dl class="f7 mt3 fw3 mt1 mb0 black-60">
            <p class="clip">Rating</p>
            <p class="ml0">
              <% if book.rating == 0 %>
                Rating — <%= 'None' %>
              <% else %>
                Rating — <%= book.rating %>/5
              <% end %>
            </p>
            <p class="ml0">
              Published language — <%= book.published_language.capitalize %>
            </p>
            <p class="f7 fw3 mb0 black-60">Curated in — <%= link_to book.library.name, library_path(book.library), class:"fw3"%>
            </p>
            <p class="f7 fw3 mb0 black-60">Curated by — <%= link_to book.library.user.email, profile_path(user_id: book.library.user_id), class:"f7 fw3 mb0 black-60" %>
            </p>
          </dl>
        </div>
      </div> -->
    <% end %>
  </div>
</div>

<!-- map -->

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
    console.log(<%= raw @hash.to_json %>);
      var handler = Gmaps.build('Google', { markers: {
      randomize: true, maxRandomDistance: 10, clusterer: {
      maxZoom: 20, gridSize: 100 } }});

      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(10)
          handler.map.centerOn(markers[0]);

        } else {

          handler.fitMapToBounds();
          handler.getMap().setZoom(2)
          handler.map.centerOn(markers[0]);
          handler.bounds.extendWith(markers);


        }
      });
    });
  <% end %>
<% end %>
