<p>EDIT BOOK PAGE</p>

<%= simple_form_for(@book) do |f| %>
<%= f.error_notification %>

<%= f.input :title %>
<%= f.input :genre %>
<%= f.input :author %>
<%= f.input :publisher %>
<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>

<%= f.button :submit %>
<% end %>

<%= link_to 'Back', books_path %>
