<p> index books -- Search Results Page </p>

<h1>Search Results</h1>
<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% for book in @books %>
        <div class='book'>
            <strong> <%= link_to book.title, book_path(book) %> </strong>
            <p>Number of bookings: <%= book.bookings.count %></p>
            <p>
            Number of reviews: <% sum = 0 %>
              <% book.bookings.each do |booking| %>
                <% sum += booking.reviews.count %>
              <% end %>
              <%= sum %>
            </p>
        </div>
      <% end %>
     </tr>
  </tbody>
</table>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>




