  <div id="map"></div>
  <div class="wrapper">

  <h2>Search Results For: <span class="f6 ba bw ph3 pv1 black">"<%= @search %>"</span></h2>
  <div class="table-wrap overflow-scroll">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th> <th></th> <th>Reviews</th>
        </tr>
      </thead>
      <tbody>
        <% for book in @books %>
          <tr>
            <td class="table-border lg-col-2">
              <img class="fit " src="https://versobooks-prod.s3.amazonaws.com/images/000007/189/9781781689752-000a8e17aa381c54f60f1d4e76d18ad7.jpg"/>
            </td>
            <td>
              <p class="title"><%= link_to book.title, book_path(book)%></p>
              <p class="f7 fw4 mb0 black-60"><%= book.author %></p>
            </td>
            <td> <p class="title"><% sum = 0 %>
              <% book.bookings.each do |booking| %>
                <% sum += booking.reviews.count %>
              <% end %>
              <%= sum %>
            </p>
            </td>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
    console.log(<%= raw @hash.to_json %>);
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.getMap().setZoom(2);
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

