<div class="wrapper">
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <h2>Search Results For: "<%= @search %>"</h2>
    <h2>
      <%= form_tag(books_path, class: "form", method: :get) do %>
        <%= hidden_field_tag :term, params[:term], placeholder: 'Search here..', class: "field" %>
        <%= hidden_field_tag :location, params[:location], placeholder: 'Location here..', class: "field" %>
        <%= text_field_tag :sort_by, params[:sort_by], placeholder: 'Sort by here..', class: "field" %>

      <% end %>
    </h2>
  </div>
  <div class="table-wrap overflow-scroll">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th> <th></th> <th>Rating</th> <th>Reviews</th>
        </tr>
      </thead>
      <tbody>
        <% for book in @books %>
          <tr>
            <td class="lg-col-2">
              <img class="fit" src="https://versobooks-prod.s3.amazonaws.com/images/000007/189/9781781689752-000a8e17aa381c54f60f1d4e76d18ad7.jpg"/>
            </td>
            <td>
              <p class="title">
                <%= link_to book.title, book_path(book)%>
              </p>
              <p class="f7 fw4 mb0 black-60">
                <%= book.author %>
              </p>
            </td>
            <td>
              <p class="title">
                <%= book.rating %>
              </p>
            </td>
            <td>
              <p class="title">
                <%= book.reviews_count %>
              </p>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
    console.log(<%= raw @hash.to_json %>);
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

