<div class="wrapper upload">
  <div class="container upload">
    <div class="row row-left" style="background-image: linear-gradient(130deg, rgba(54,16,61,0.6) 31%, rgba(3,18,21,0.6) 51%), url('https://unsplash.it/g/600/600?image=494')" >
      <div class="col-xs-12 col-md-6">
        <h3>Lorem ipsum dolor sit amet</h3>
      </div>
    </div>
    <div class="row row-right">
      <div class="col-xs-12 col-md-12">
        <h3>Add a Book to the Library</h3>
        <%= simple_form_for @book do |f| %>
          <%= f.error_notification %>

          <%= f.input :title, placeholder: 'Title', label:false %>
          <%= f.input :genre, placeholder: 'Genre', label:false %>
          <%= f.input :author, placeholder: 'Author', label:false %>
          <%= f.input :publisher, placeholder: 'Publisher', label:false %>
          <%= f.input :description, placeholder: 'Description', label:false %>

          <% if @library.present? %>
            <%= f.association :library, collection: Library.where(user: current_user).where(name: @library.name), label_html: { class: 'form-details' } %>
          <% else %>
            <%= f.association :library, collection: Library.where(user: current_user), label_html: { class: 'form-details' } %>
          <% end %>

          <%= f.input :photo, as: :attachinary, label_html: { class: 'form-details' }%>

          <%= f.submit 'New Book', class: "form-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


