<article class="cf ph2 ph5-ns pt3 mb2 mt2">
  <div class="fl w-100 w-50-ns">
    <div class="measure-narrow">
      <% if @library.present? %>
        <%= form_tag(new_library_book_path(@library), method: :get) do %>
          <label for="password" class="f6 b db mb1">Search by ISBN number</label>
          <%= text_field_tag :isbn, params[:isbn], placeholder: 'Ex: 9781472244444', class: "input-reset ba b--black-20 pa2 mb1 db w-100" %>
          <%= hidden_field_tag :library_id, params[:library_id] = @library.id %>
        <% end %>
      <% else %>
        <%= form_tag(new_book_path, method: :get) do %>
          <label for="password" class="f6 b db mb1">Search by ISBN number</label>
          <%= text_field_tag :isbn, params[:isbn], placeholder: 'Ex: 9781472244444', class: "input-reset ba b--black-20 pa2 mb1 db w-100" %>
        <% end %>
      <% end %>
      <small id="password-desc" class="f8 lh-copy black-60 db">
        Must be in the correct format.
      </small>
    </div>
    <div class="table-wrap overflow-scroll">
      <table class="table">
        <tbody>
          <% @results.each do |result| %>
            <% if result[1][:description] %>
              <% formatted_description = result[1][:description].slice(0, 200) %>
            <% else %>
              <% formatted_description = "" %>
            <% end %>
            <tr>
              <td class="lg-col-2">
                <% image = if result[1][:image_link] %>
                  <% result[1][:image_link] %>
                <% elsif result[1][:large_image] %>
                  <% result[1][:large_image] %>
                <% end %>
                  <%= cl_image_tag image, crop: :fit, class: "fit" %>
              </td>
              <td>
                <p class="title"><%= result[1][:title] %></p>
                  <% if result[1][:author] %>
                    <p class="t-sm f7 fw4 mb0 black-60">Author: <%= result[1][:author] %></p>
                  <% end %>
                  <% if result[1][:publisher] %>
                    <p class="t-sm f7 fw4 mb0 black-60">Publisher: <%= result[1][:publisher] %></p>
                  <% end %>
                  <% if result[1][:publication_date] %>
                    <p class="t-sm f7 fw4 mb0 black-60">Publication Date: <%= result[1][:publication_date] %></p>
                  <% end %>
                  <% if result[1][:creator] %>
                    <p class="t-sm f7 fw4 mb0 black-60">Creator: <%= result[1][:creator] %></p>
                  <% end %>
                  <% if result[1][:edition] %>
                    <p class="t-sm f7 fw4 mb0 black-60">Edition: <%= result[1][:edition] %></p>
                  <% end %>
                  <% if result[1][:release_date] %>
                    <p class="t-sm f7 fw4 mb0 black-60">Release Date: <%= result[1][:release_date] %>
                  <% end %>
                  <% if result[1][:description] %>
                    <p class="t-sm f7 fw4 mb0 black-60">Description: <%= formatted_description %></p>
                  <% end %>
                  <% if result[1][:number_of_pages] %>
                    <p class="t-sm f7 fw4 mb0 black-60">Pages: <%= result[1][:number_of_pages] %></p>
                  <% end %>
                  <% if result[1][:published_language] %>
                    <p class="t-sm f7 fw4 mb0 black-60">Published Language: <%= result[1][:published_language] %></p>
                  <% end %>
                  <% if result[1][:original_language] %>
                    <p class="t-sm f7 fw4 mb0 black-60">Original Language: <%= result[1][:original_language] %></p>
                  <% end %>
                  <% if result[1][:isbn] %>
                    <p class="t-sm f7 fw4 mb0 black-60">ISBN: <%= result[1][:isbn] %></p>
                  <% end %>
                    <p class="t-sm f7 fw4 mb0 black-60">
                      Generated from: <% if result[1][:detail_page_url] %>
                        <a href="<%= result[1][:detail_page_url] %>">Amazon</a>
                      <% else %>
                        <%= "Google Books" %>
                      <% end %>
                    </p>
                </td>
                <td class="lg-col-2">
                  <p class="title">
                    <% if @library.present? %>
                      <%= link_to "Select(+)", new_library_book_path(@library, title: result[1][:title], author: result[1][:author], publisher: result[1][:publisher], publication_date: result[1][:publication_date], creator: result[1][:creator], edition: result[1][:edition], release_date: result[1][:release_date], description: formatted_description, number_of_pages: result[1][:number_of_pages], published_language: result[1][:published_language], original_language: result[1][:original_language], isbn: result[1][:isbn], ean: result[1][:ean], asin: result[1][:asin], detail_page_url: result[1][:detail_page_url], image_link: result[1][:image_link], large_image: result[1][:large_image]) %>
                    <% else %>
                      <%= link_to "Select(+)", new_book_path(library_id: params[:library_id], title: result[1][:title], author: result[1][:author], publisher: result[1][:publisher], publication_date: result[1][:publication_date], creator: result[1][:creator], edition: result[1][:edition], release_date: result[1][:release_date], description: formatted_description, number_of_pages: result[1][:number_of_pages], published_language: result[1][:published_language], original_language: result[1][:original_language], isbn: result[1][:isbn], ean: result[1][:ean], asin: result[1][:asin], detail_page_url: result[1][:detail_page_url], image_link: result[1][:image_link], large_image: result[1][:large_image]) %>
                    <% end %>
                  </p>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>

    <div class="fr w-100 w-40-ns pl1 pr3">
      <p class="f6 b db mb1"><%= 'Add Manually or Edit Here' %></p>
        <%= simple_form_for @book do |f| %>
          <%= f.error_notification %>
          <%= f.input :title, placeholder: 'Title', label:false %>
          <%= f.input :author, placeholder: 'Author', label:false %>
          <%= f.input :description, placeholder: 'Description', label:false %>
          <%= f.input :published_language, placeholder: 'Published Language', label:false %>
          <div class = "mb1" id="morebookdetails">
            <p>More Details +</p>
          </div>
          <div id="bookdetails">
            <%= f.input :publisher, placeholder: 'Publisher', label:false %>
            <%= f.input :creator, placeholder: 'Creator', label:false %>
            <%= f.input :edition, placeholder: 'Edition', label:false %>
            <%= f.input :number_of_pages, placeholder: 'Number of Pages', label:false %>
            <%= f.input :original_language, placeholder: 'Original Language', label:false %>
          </div>

          <% if @library.present? %>
            <p class="f6 b db mb1"><%= 'Library' %></p>
            <%#= f.association :library, collection: Library.where(user: current_user).where(name: @library.name), label_html: { class: '' }, label:false %>
            <%#= f.association :library, input_html: {value: f.object.library || Library.where(user: current_user).where(name: @library.name).first }, label_html: { class: 'measure f7' }, label:false %>
          <% else %>
            <p class="f6 b db mb1 mt1"><%= 'Select Or Create a New Library' %></p>
            <%= f.association :library, collection: Library.where(user: current_user), placeholder: 'Select Library', label_html: { class: 'measure f7' }, label:false %>
            <div class= "mb1" id="addlibrary">
              <p>Create New Library +</p>
            </div>
            <div id="newlibrary">
              <%= f.input :new_library_name, placeholder: 'New Library Name', label:false %>
              <%= f.input :new_library_address, :input_html => { :id => 'geo-new-library' }, placeholder: 'New Library Address', label:false %>
            </div>
          <% end %>

          <%= f.input :photo, as: :attachinary, label: "Book Cover", label_html: { class: 'measure f6 b db mb1 mt1' }%>

          <%= f.submit 'Create', class: "btn-outline" %>
      <% end %>
    </div>
</article>








