<!-- <div class="wrapper upload"> -->
<!--   <div class="container upload"> -->
<div>
    <%= link_to '&times;'.html_safe, request.referer.present? ? request.referer : default_path, class: "form-close" %>
    <div class="row row-left">
      <div class="col-xs-12 col-md-12">
        <h2>Anthology for Knowledge</h3>
        <!-- begining isbn search form -->
        <%= form_tag(new_book_path, class: "form", method: :get) do %>
          <%= text_field_tag :isbn, params[:isbn], placeholder: 'ISBN here..', class: "" %>
          <%= hidden_field_tag :country, params[:country], placeholder: 'Country here..', class: "", id: "geo-country" %>
          <%= submit_tag 'Search', name: nil, class: "btn btn-outline " %>
        <% end %>

        <div class="table-wrap overflow-scroll">
          <table class="table">
            <thead>
              <tr>
                <!-- <th>Title</th> <th></th> <th>Rating</th> <th>Reviews</th> -->
              </tr>
            </thead>
            <tbody>
              <% @results.each do |result| %>
                <tr>
                  <td class="lg-col-2">
                    <% image = if result[1][:image_link] %>
                      <% result[1][:image_link] %>
                    <% elsif result[1][:large_image] %>
                      <% result[1][:large_image] %>
                    <% end %>
                    <%= cl_image_tag image, crop: :scale, class: "fit" %>
                  </td>
                  <td>
                    <p class="title"><%= result[1][:title] %></p>
                    <p class="f7 fw4 mb0 black-60">#####: <%= result[1][:author] %></p>
                    <p class="f7 fw4 mb0 black-60">#####: <%= result[1][:publisher] %></p>
                    <p class="f7 fw4 mb0 black-60">#####: <%= result[1][:publication_date] %></p>
                    <p class="f7 fw4 mb0 black-60">#####: <%= result[1][:creator] %></p>
                    <p class="f7 fw4 mb0 black-60">#####: <%= result[1][:edition] %></p>
                    <p class="f7 fw4 mb0 black-60">#####: <%= result[1][:release_date] %></p>
                    <p class="f7 fw4 mb0 black-60">#####: <%= result[1][:description] %></p>
                    <p class="f7 fw4 mb0 black-60">#####: <%= result[1][:number_of_pages] %></p>
                    <p class="f7 fw4 mb0 black-60">#####: <%= result[1][:published_language] %></p>
                    <p class="f7 fw4 mb0 black-60">#####: <%= result[1][:original_language] %></p>
                    <p class="f7 fw4 mb0 black-60">#####: <%= result[1][:isbn] %></p>
                    <p class="f7 fw4 mb0 black-60">#####: <%= result[1][:ean] %></p>
                    <p class="f7 fw4 mb0 black-60">#####: <%= result[1][:asin] %></p>
                    <p class="f7 fw4 mb0 black-60">
                      Generated from: <% if result[1][:detail_page_url] %>
                        <a href="<%= result[1][:detail_page_url] %>">Amazon</a>
                      <% else %>
                        <%= "Google Books" %>
                      <% end %>
                    </p>
                  </td>
                  <td class="lg-col-2">
                    <p class="title"><%= link_to "Add(+)", new_book_path(title: result[1][:title], author: result[1][:author], publisher: result[1][:publisher], publication_date: result[1][:publication_date], creator: result[1][:creator], edition: result[1][:edition], release_date: result[1][:release_date], description: result[1][:description], number_of_pages: result[1][:number_of_pages], published_language: result[1][:published_language], original_language: result[1][:original_language], isbn: result[1][:isbn], ean: result[1][:ean], asin: result[1][:asin], detail_page_url: result[1][:detail_page_url], image_link: result[1][:image_link], large_image: result[1][:large_image]) %></p>
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
        <!-- end isbn search form -->
      </div>
    </div>
    <div class="row row-right">
      <div class="col-xs-12 col-md-12">
        <h3>
          <% if @library.present? %>
            <%= "Add a Book to #{@library.name}" %>
          <% else %>
            <%= 'Add a Book to Your Library' %>
          <% end %>
        </h3>

        <%= simple_form_for @book do |f| %>
          <%= f.error_notification %>

          <%= f.input :title, placeholder: 'Title', label:false %>
          <%= f.input :author, placeholder: 'Author', label:false %>
          <%= f.input :publisher, placeholder: 'Publisher', label:false %>
          <%= f.input :publication_date, placeholder: 'Publication Date', label:false %>
          <%= f.input :creator, placeholder: 'Creator', label:false %>
          <%= f.input :edition, placeholder: 'Edition', label:false %>
          <%= f.input :release_date, placeholder: 'Release Date', label:false %>
          <%= f.input :description, placeholder: 'Description', label:false %>
          <%= f.input :number_of_pages, placeholder: 'Number of Pages', label:false %>
          <%= f.input :published_language, placeholder: 'Published Language', label:false %>
          <%= f.input :original_language, placeholder: 'Original Language', label:false %>

          <% if @library.present? %>
            <%= f.association :library, collection: Library.where(user: current_user).where(name: @library.name), label_html: { class: 'form-details' } %>
          <% else %>
            <%= f.association :library, collection: Library.where(user: current_user), label_html: { class: 'form-details' } %>
          <% end %>

          <%= f.input :photo, as: :attachinary, label_html: { class: 'form-details' }%>

          <%= f.submit 'New Book', class: "form-button" %>
        <% end %>
      </div>
    </div>
</div>
<!--   </div> -->
<!-- </div> -->

<!-- use this for closing the page and coming back to the previous page -->
<%#= link_to '&times;'.html_safe, request.referer.present? ? request.referer : default_path %>









