<article class="cf ph2 ph5-ns pv5">
  <header class="fn fl-ns w-50-ns pr4-ns">
    <h1 class="book-title f3 black lh-title fw9 mt0 pt2 bt bw1">
      <%= @book.title %>
    </h1>
    <h2 class="author f10 mid-gray lh-title">
      <%= @book.author %>
    </h2>
      <% if @book.photo? %>
        <%= cl_image_tag @book.photo.path, width: 200, height: 300, crop: :fill, class: "fit" %>
      <% end %>
    <time class="f10 ttu tracked gray"><%= @book.description %></time>
  </header>
  <div class="fn fl-ns w-50-ns">
    <p class="lh-copy measure mt0-ns black">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Consectetur adipiscing elit, sed do eiusmod.</p>

      <% if @book.library.user != current_user %>
        <div class="left pt3">
          <%= simple_form_for [@book, @booking] do |f| %>
            <%= f.error_notification %>

            <%= f.input :pick_up_date%>
            <%= f.input :return_date %>

            <%= f.button :submit %>
          <% end %>
        </div>
      <% end %>
    </p>
  </div>
</article>

<% if @book.library.user == current_user %>
  <button class="edit-button" data-target="#editModal" data-toggle="modal"> <i class="medium material-icons">edit</i></button>
<% end %>

<!-- Book Reviews -->

<% if @book.reviews.count == 1 %>
  <h3>Review:</h3>
<% elsif @book.reviews.count > 1 %>
  <h3>Reviews:</h3>
<% end %>

<% @book.reviews.each do |review| %>
  <p><%= review.user.email %></p>
  <p><%= review.stars %></p>
  <p><%= review.content %></p>
<% end %>

<article class="cf ph2 ph5-ns">
  <div id="map" style="width: 100%; height: 350px;"></div>
</article>

<!-- Modal goes below -->

<div class="modal" id="editModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Book</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@book) do |f| %>
        <%= f.error_notification %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

        <%= f.input :title, placeholder: 'Title', label:false %>
        <%= f.input :genre, placeholder: 'Genre', label:false %>
        <%= f.input :author, placeholder: 'Author', label:false %>
        <%= f.input :publisher, placeholder: 'Publisher', label:false %>
        <%= f.association :library, collection: Library.where(user: current_user), label_html: { class: 'form-details' } %>
        <%= f.input :photo, as: :attachinary, label_html: { class: 'form-details' }%>
      </div>
      <div class="modal-footer">
      <%= f.submit 'Confirm', class: "form-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

