<article class="cf ph2 ph5-ns pv5">
  <header class="fn fl-ns w-50-ns pr4-ns">
    <h1 class="book-title f3 black lh-title fw9 mt0 pt2 bt bw1">
      <%= @book.title %>
    </h1>
    <h2 class="author f10 mid-gray lh-title">
      <%= @book.author %>
    </h2>
      <% if @book.photo? %>
        <%= cl_image_tag @book.photo.path, width: 200, height: 300, crop: :fill, class: "fit" %>
      <% end %>
  </header>
  <div class="fn fl-ns w-50-ns">
    <% if @book.library.user != current_user %>
      <div class="left pt3">
        <%= simple_form_for [@book, @booking] do |f| %>
          <%= f.input :checkin_date, as: :string, input_html: { class: 'datepicker' } %>
          <%= f.input :checkout_date, as: :string, input_html: { class: 'datepicker' } %>
          <%= f.button :submit, class: 'form-button'%>
        <% end %>
      </div>
    <% end %>
  </div>
</article>

<!-- If book belongs to user, they can edit -->
<% if @book.library.user == current_user %>
  <button class="edit-button" data-target="#editModal" data-toggle="modal">
    <i class="medium material-icons">edit</i>
  </button>
<% end %>

<article class="cf ph2 ph5-ns pv5">
  <div class="overflow-auto">
    <table class="f6 w-100 mw8 left" cellspacing="0">
      <thead>
        <tr>
          <th class="fw6 bb b--black-20 tl pb1 bg-white">Reviews</th>
          <th class="fw6 bb b--black-20 tl pb1 pr3 bg-white">Rating</th>
          <th class="fw6 bb b--black-20 tl pb1 pr3 bg-white">User</th>
        </tr>
      </thead>
      <tbody class="lh-copy">
        <% @book.reviews.each do |review| %>
          <tr>
          <td class="pv3 pr3 bb b--black-20"><%= review.content %>
          </td>
          <td class="pv3 pr3 bb b--black-20"><%= review.stars %></td>
          <td class="pv3 pr3 bb b--black-20"><%= review.user.email.truncate(20) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</article>
<!-- <article class="cf ph2 ph5-ns">
  <div id="map" style="width: 100%; height: 350px;"></div>
</article> -->

<!-- Google Map Goes here -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    if (markers.length == 0) {
    handler.getMap().setZoom(2);
    } else if (markers.length == 1) {
    handler.getMap().setZoom(14);
    }
    });
    });
  <% end %>
<% end %>

<!-- Modal goes below -->
<div class="modal" id="editModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Book</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@book) do |f| %>

        <%= f.error_notification %>
        <%= f.input :title, placeholder: 'Title', label:false %>
        <%= f.input :genre, placeholder: 'Genre', label:false %>
        <%= f.input :author, placeholder: 'Author', label:false %>
        <%= f.input :publisher, placeholder: 'Publisher', label:false %>
        <%= f.association :library, collection: Library.where(user: current_user), label_html: { class: 'form-details' } %>
        <%= f.input :photo, as: :attachinary, label_html: { class: 'form-details' }%>
      </div>
      <div class="modal-footer">
      <%= f.submit 'Confirm', class: "form-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

