<<<<<<< HEAD
<article class="cf ph2 ph4-ns pv5">
  <header class="fn fl-ns w-50-ns pr4-ns">
    <h1 class="book-title f3 black lh-title fw9 mt0 pt2 bt bw1">
      <%= @book.title %>
    </h1>
    <h2 class="author f10 mid-gray lh-title">
      <%= @book.author %>
    </h2>
      <% if @book.photo? %>
      <%= cl_image_tag @book.photo.path, width: 200, height: 300, crop: :fill, class: "fit", class:"right" %>
    <% end %>
    <time class="f10 ttu tracked gray"><%= @book.description %></time>
  </header>
  <div class="fn fl-ns w-50-ns">
    <p class="lh-copy measure mt0-ns">
      <% if @book.library.user != current_user %>
        <div class="center">
          <%= simple_form_for [@book, @booking] do |f| %>
            <%= f.error_notification %>

            <%= f.input :pick_up_date %>
            <%= f.input :return_date %>

            <%= f.button :submit %>
          <% end %>
        </div>
      <% end %>
    </p>
  </div>
</article>

=======
<p> show book </p>
>>>>>>> master
<h3><%= @book.title %></h3>
<p>Author: <%= @book.author %></p>
<p>Genre: <%= @book.genre %></p>
<p>Publisher: <%= @book.publisher %></p>
<p> ----- </p>
<p> Description:
<%= @book.description %></p>
<p> ----- </p>
<% if @book.photo? %>
  <p> Picture: </p>
  <%= cl_image_tag @book.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>
<p><%= link_to "New Booking", new_book_booking_path(@book) %></p>

<p><%= link_to "Back to index books", books_path %></p>

<% if @book.library.user == current_user %>
  <button class="edit-button" data-target="#editModal" data-toggle="modal">    <i class="medium material-icons">edit</i></button>
<% end %>

<!-- Book Reviews -->

<% if @book.reviews.count == 1 %>
  <h3>Review:</h3>
<% elsif @book.reviews.count > 1 %>
  <h3>Reviews:</h3>
<% end %>

<% @book.reviews.each do |review| %>
  <p><%= review.user.email %></p>
  <p><%= review.stars %></p>
  <p><%= review.content %></p>
<% end %>

<!-- New Booking Form -->

<% if @book.library.user != current_user %>
  <h3> New booking form </h3>

  <%= simple_form_for [@book, @booking] do |f| %>
    <%= f.error_notification %>

    <%= f.input :pick_up_date %>
    <%= f.input :return_date %>

    <%= f.button :submit %>
  <% end %>
<% end %>
<!-- Modal goes below -->

<<<<<<< HEAD
<button class="btn btn-primary btn-sm" data-target="#editModal" data-toggle="modal">Edit Book</button>
=======
>>>>>>> master
<div class="modal" id="editModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Book</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@book) do |f| %>
        <%= f.error_notification %>
<<<<<<< HEAD

        <%= f.input :title, placeholder: 'Title', label:false %>
        <%= f.input :genre, placeholder: 'Genre', label:false %>
        <%= f.input :author, placeholder: 'Author', label:false %>
        <%= f.input :publisher, placeholder: 'Publisher', label:false %>
        <%= f.association :library, collection: Library.where(user: current_user), label_html: { class: 'form-details' } %>
        <%= f.input :photo, as: :attachinary, label_html: { class: 'form-details' }%>
      </div>
      <div class="modal-footer">
      <%= f.submit 'Confirm', class: "form-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

=======
>>>>>>> master

        <%= f.input :title, placeholder: 'Title', label:false %>
        <%= f.input :genre, placeholder: 'Genre', label:false %>
        <%= f.input :author, placeholder: 'Author', label:false %>
        <%= f.input :publisher, placeholder: 'Publisher', label:false %>
        <%= f.association :library, collection: Library.where(user: current_user), label_html: { class: 'form-details' } %>
        <%= f.input :photo, as: :attachinary, label_html: { class: 'form-details' }%>
      </div>
      <div class="modal-footer">
      <%= f.submit 'Confirm', class: "form-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
