<article class="cf ph2 ph5-ns pt3 mb2">
  <header class="fn fl-ns w-50-ns pr4-ns">
    <h1 class="book-title f3 black lh-title fw9 mt0 pt1">
      <%= @book.title %>
        <% if @book.library.user == current_user %>
        <a class="edit-button" data-target="#editModal" data-toggle="modal">
          (edit)
        </a>
      <% end %>
    </h1>
    <h2 class="author f10 mid-gray lh-title">
      <%= @book.author %> </h2>
      <% if @book.photo? %>
        <%= cl_image_tag @book.photo.path, height: 350, crop: :fill, class: "fit" %>
      <% end %>
  </header>

  <div class="fl-ns w-50-ns">
    <p class="mt2 f7 copy"> <%= @book.description %> </p>
      <% if @book.library.user != current_user %>
        <div class="left ba b--black-100 mt2 p1 fl pa2-ns md-col md-col-12">
          <div class="w-100-ns left calendar pt0">
          <%= simple_form_for [@book, @booking] do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'pending' } %>
            <%= f.input :checkin_date, as: :string, input_html: { class: 'datepicker left mb1' } %>
            <%= f.input :checkout_date, as: :string, input_html: { class: 'datepicker left mb2' } %>
            <%= f.button :submit, class: 'btn-outline w-100 center'%>
          <% end %>
        </div>
      <% end %>
      </div>
  </div>
</article>

<article class="cf ph1 ph5-ns pv1">
  <div class="dt w-100 bt b--black-100 pt1 mt1 dt dt--fixed">
    <div class="fw6 dtc tl">Added by:
      <p class="f7 copy mid-gray"><%= link_to @book.library.user.email, profile_path(@profile), class:"f7 copy mid-gray"%></p>
    </div>
    <div class="fw6 dtc tl">Located in:
      <p class="f7 copy mid-gray"><%=@book.library.address.capitalize%></p>
    </div>
    <div class="fw6 dtc tl">Curated in:
      <p class="f8 copy mid-gray"><%=link_to @book.library.name, library_path(@book.library), class: "f7 copy mid-gray"%></p>
    </div>
    <div class="fw6 dtc tl">Product details:
      <p class="f8 copy mid-gray">Paperback: 328 pages</p>
      <p class="f8 copy mid-gray">Publisher: Signet Classic</p>
      <p class="f8 copy mid-gray">Language: English</p>
    </div>
  </div>
</article>

<!-- <article class="cf ph1 ph5-ns pv1">
      <% Book.last(4).each do |book| %>
        <div class="card sm-col sm-col-4">
          <%= link_to book_path(book), class: "link dt w-100 b--black-100 pt2 mt1 dim black" do %>
            <div class="featured-card dtc w3">
              <% if book.photo? %>
                <%= cl_image_tag book.photo.path, crop: :fit%>
              <% end %>
            </div>
            <%end%>
          </div>
        <% end %>
</article> -->
<!--
<article class="cf ph1 ph5-ns pv1">
 <div class="cf pa2">
    <div class="fl w-50 w-25-m w-20-l pa2">
        <img src="http://is4.mzstatic.com/image/thumb/Music62/v4/93/8f/75/938f7536-0188-f9ba-4585-0a77ceaebf0a/source/400x40000bb.png" alt="Frank Ocean Blonde Album Cover" class="w-130 db outline black-10"/>
        <dl class="mt2 f6 lh-copy">
          <dt class="clip">Title</dt>
          <dd class="ml0 black truncate w-100">Blonde</dd>
          <dt class="clip">Artist</dt>
          <dd class="ml0 gray truncate w-100">Frank Ocean</dd>
        </dl>
      </a>
    </div>
  </div>
</article> -->

<% if @book.rating >= 1 %>
  <article class="mt3 cf ph2 ph5-ns pv1">
    <div class="overflow-auto">
      <table class="f6 w-100 mw8 left" cellspacing="0">
        <thead>
          <tr>
            <th class="fw6 bb b--black-20 tl pb1 bg-white">Reviews</th>
            <th class="fw6 bb b--black-20 tl pb1 pr3 bg-white">Rating</th>
            <th class="fw6 bb b--black-20 tl pb1 pr3 bg-white">User</th>
          </tr>
        </thead>
        <tbody class="f7 copy">
          <% @book.reviews.each do |review| %>
            <tr>
            <td class="pv3 pr3 bb b--black-20"><%= review.content %></td>
            <td class="pv3 pr3 bb b--black-20"><%= review.stars %>/5</td>
            <td class="pv3 pr3 bb b--black-20"><%= review.user.email.truncate(20)%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </article>
<% end %>

<!-- <article class="cf ph2 ph5-ns">
  <div id="map" style="width: 100%; height: 300px;"></div>
</article> -->
<!-- Google Map Goes here -->

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    if (markers.length == 0) {
    handler.getMap().setZoom(2);
    } else if (markers.length == 1) {
    handler.getMap().setZoom(14);
    }
    });
    });

  <% end %>
<% end %>

<!-- Modal goes below -->
<div class="modal" id="editModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Book</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@book) do |f| %>
        <%= f.error_notification %>
        <%= f.input :title, placeholder: 'Title', label:false %>
        <%= f.input :genre, placeholder: 'Genre', label:false %>
        <%= f.input :author, placeholder: 'Author', label:false %>
        <%= f.input :publisher, placeholder: 'Publisher', label:false %>
        <%= f.input :description, placeholder: 'Description', label:false %>
        <%= f.association :library, collection: Library.where(user: current_user), label_html: { class:'' } %>
        <%= f.input :photo, as: :attachinary, label_html: { class:'' }%>
      </div>
      <div class="modal-footer">
      <%= f.submit 'Confirm', class: "btn-outline left" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
