<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TheBookCollective- Discover, borrow, and inspire</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.0/css/tachyons.min.css"/>
  <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/css/star-rating.css' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>

  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <%= yield %>
  <%= render 'shared/footer'%>

  <!-- sign in modal goes here -->
  <div class="modal" id="signupModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <button class="close" data-dismiss="modal"> &times;</button>
        <legend>&nbsp;&nbsp;Sign In</legend>
        <%= simple_form_for(User.new, as: :user, url: session_path(:user)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, autofocus: true, placeholder: 'user@email.com', required: false, input_html: { class: 'textinput' },label_html: { class: 'label-text' } %>
        <%= f.input :password, placeholder: '*****', required: false, input_html: { class: 'textinput' }, label_html: { class: 'label-text' } %>
      </div>
      <div class="forget form-group center">
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(:user), {class: 'forgotstuff'} %><br />
        <%= link_to "Sign up", '#', class: 'signup', 'data-toggle'=> 'modal', 'data-target'=> '#registerModal', 'id'=> 'signupbutton' %><br />
        <% end -%>
      </div>

      <div class="logins">


          <%#= link_to "Log in with Facebook", user_facebook_omniauth_authorize_path, class: 'omniauth facebook' %>
          <%= render "devise/shared/links", resource_name: :user, resource_class: User %>



         <%#= link_to "Log in with Google", user_google_oauth2_omniauth_authorize_path, class: 'omniauth google' %>
        </div>
      </div>
      <div class="form-actions center">
        <%= f.button :submit, "Log in", class: "btn-outline" %>
        <%= f.input :remember_me, input_html: { class: 'form-fonts' }, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Register modal goes here -->
<div class="modal" id="registerModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <button class="close" data-dismiss="modal"> &times;</button>
      <legend>&nbsp;&nbsp;Sign Up</legend>
        <%= simple_form_for(User.new, as: :user, url: registration_path(:user)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, input_html: { class: 'textinput' },label_html: { class: 'label-text' }  %>
          <%= f.input :password, required: true, placeholder: '6 characters min.', input_html: { class: 'textinput' },label_html: { class: 'label-text' }, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true, input_html: { class: 'textinput' }, label_html: { class: 'label-text' } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn-outline"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

  <%= javascript_include_tag "application" %>

  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/js/star-rating.min.js' %>

  <%= yield(:after_js) %>
  <%= cloudinary_js_config %>

</body>
</html>


<!-- <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<%#= javascript_include_tag "application" %>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
 -->
